.main-about {
  display: flex;
  min-height: 100vh;
  
  background-image: url(../images/about-hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.test {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  width: 80%;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper .corgi-img {
  width: 40%;
  height: auto;
  object-fit: cover;
  margin-right: 3rem;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  border-radius: 4px;
}

.content-wrapper .blackdog-img {
  width: 40%;
  height: auto;
  object-fit: cover;
  margin-left: 3rem;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  border-radius: 4px;
}

.corgi-text {
  background-color: rgb(236, 236, 236);
  padding: 2rem 2rem 2rem 2rem;
}

.corgi-text p {
  color: rgb(131, 131, 131);
}

.corgi-header {
  font-size: 3.6rem;
}

p {
  font-size: 2rem;
}